<!doctype html>
<html ng-app="schedulerApp" class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MPES ACO Scheduler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <!-- Load c3.css -->
        <link href="bower_components/c3/c3.css" rel="stylesheet" type="text/css">
        
        <!-- Load d3.js and c3.js -->
        <script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
        <script src="bower_components/c3/c3.min.js"></script>
            
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
            
        <link href="css/app.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="mainController">
        <h2>{{text}}</h2>
        <select ng-model="selectedTest" ng-options="test.number as test.descr for test in testOptions">
            
        </select>
        <button ng-click="calculate()">
            Calculate for {{testOptions[selectedTest-1].descr}}
        </button>
        <div id="results">
            <div id="chart"></div>
            <div id="table">
                <div id="cost">Cost of solution is {{solutionCost | number: 5}}</div>
                <table>
                    <tr>
                        <td>Task</td>
                        <td>Starting Time</td>
                    </tr>
                    <tr ng-repeat="hour in taskHours track by $index">
                        <td>{{solution.StartingTimes[$index].Key.Description}}</td>
                        <td>{{hour}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
            
        <script src="js/schedulerApp.js"></script>
        <script src="js/scheduleService.js"></script>
        <script src="js/mainController.js"></script>
    </body>
</html>
