#results {
	width: 100%;
}

#chart {
	width: 70%;
	margin: 20px;
	float: left;
}

#table {
	width: 20%;
	float: right;
}

table {
	text-align: center;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	padding: 5px;
}

#cost {
	margin-bottom: 20px;
}